@import "palette";

body
{
    font-family: "Marcellus", serif;
    color: $text-color;
    font-size: 14px;
}

.color-primary
{
    background-color: $primary-color;
}

.color-secondary
{
    background-color: $secondary-color;
}

.color-info
{
    background-color: $info-color;
}

.link
{
    text-decoration: none;
    color: $text-color;
    font: "Marcellus";
    transition: color 0.1s;
    cursor: pointer;
}

.link:hover
{
    text-decoration: none;
    color: $text-color;
    font: "Marcellus";
    color: $hover-color;
}

.navbar-header
{
    justify-content: flex-start;
    padding: 0px 16px;
}

.header-item
{
    margin: 0px 0.25rem;
    font-size: 12px;
}

.logo
{
    text-decoration: none;
    color: $text-color;
    font: "Marcellus";
    cursor: pointer;
    font-size: 2rem;
}

.logo:hover
{
    text-decoration: none;
    color: $text-color;
    font: "Marcellus";
}

.small-text
{
    font-size: 0.7rem;
}

.bar
{
    background-color: $secondary-color;
    height: 2px;
    width: 3rem;
    display: block;
}

.my-row
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search
{
    border-bottom: 2px solid $text-color;
    text-align: center;
}

.fa-search
{
    padding: 0.25rem;
    transition: color 0.1s;
}

.fa-search:hover
{
    color: $hover-color;
    cursor: pointer;
}

.search-box
{
    background: none;
    border: 0px none;
    border-radius: 0px;
    color: $text-color !important;
}

.search-box:focus
{
    background: none;
    border: 0px none;
    box-shadow: none;
}
